@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a,
button {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  color: #111111;
  line-height: normal;
  font-family: "Roboto", sans-serif;
  background: #F8F8F8;
}

::-moz-selection {
  background-color: #111111;
  color: #ffffff;
}

::selection {
  background-color: #111111;
  color: #ffffff;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #737177;
  line-height: 160%;
}

.gap_50 {
  margin: 50px 0;
  border: 1px solid #c9c9c9;
}

.theme_btn {
  background: #ffffff;
  color: #111111;
  padding: 18px 30px;
  text-transform: uppercase;
  font-size: 15px;
}
.theme_btn:hover {
  background: #111111;
  color: #ffffff;
}

.box_model {
  max-width: 1370px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 15px 20px 0px rgba(222, 222, 222, 0.75);
          box-shadow: 0px 15px 20px 0px rgba(222, 222, 222, 0.75);
  background: #ffffff;
  padding-bottom: 60px;
}
@media (max-width: 1399.98px) {
  .box_model {
    max-width: 1120px;
  }
}

.mb-30 {
  margin-bottom: 40px;
}

.mt-30 {
  margin-top: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.top_header_section {
  position: relative;
  border-bottom: 1px solid #c9c9c9;
  padding: 25px 24px;
  background: #ffffff;
  z-index: 999;
}
.top_header_section .left_bar .sidebar_btn {
  font-size: 22px;
  gap: 6px;
}
.top_header_section .left_bar .sidebar_btn span {
  background-color: #444444;
  width: 24px;
  height: 2px;
}
.top_header_section .right_bar .search {
  font-size: 22px;
  gap: 6px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.top_header_section .right_bar a {
  color: #111111;
  font-family: "Poppins", sans-serif;
}
.top_header_section .header_search_box {
  height: 91px;
  top: -26px;
  display: none;
}
.top_header_section .header_search_box .seach_box input {
  width: 100%;
  height: 55px;
  border-radius: 80px;
  border: 1px solid #c9c9c9;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 0 20px;
}
.top_header_section .header_search_box .seach_box input:focus {
  border-color: #111111;
}
.top_header_section .header_search_box .seach_box button {
  width: 55px;
  height: 55px;
}
.top_header_section .header_search_box .close_box {
  margin-left: 30px;
}

.header_section nav ul li {
  margin: 0 25px;
}
@media (max-width: 991.98px) {
  .header_section nav ul li {
    margin: 0 18px;
  }
}
.header_section nav ul li a {
  font-size: 15px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
  padding: 30px 0;
  position: relative;
}
.header_section nav ul li a::before {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #111111;
}
.header_section nav ul li a.active::before {
  width: 100%;
}
.header_section nav ul li a:hover::before {
  width: 100%;
}

#header-fixed-height.active-height {
  display: block;
  height: 78px;
}

.sticky-menu {
  -webkit-animation: 400ms ease-in-out 0s normal none 1 running fadeInDown;
          animation: 400ms ease-in-out 0s normal none 1 running fadeInDown;
  border-radius: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
}
.sticky-menu .menus {
  background: #ffffff;
  border-bottom: 1px solid #c9c9c9;
  max-width: 1370px;
  margin: 0 auto;
}

.offcanvas_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

.offcanvas_overlay.show {
  display: block;
}

.offcanvas_section {
  -webkit-box-shadow: 0px 5px 16px 0px rgba(202, 202, 202, 0.75);
          box-shadow: 0px 5px 16px 0px rgba(202, 202, 202, 0.75);
  background: #ffffff;
  max-width: 345px;
  width: 100%;
  position: fixed;
  top: 0;
  left: -345px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 9999;
  height: 100vh;
  padding: 50px 30px;
  overflow-y: auto;
  transition: all 0.3s ease-out 0s;
}
@media (max-width: 1199.98px) {
  .offcanvas_section {
    max-width: 300px;
    left: -300px;
  }
}
.offcanvas_section .contact_info {
  padding: 60px 0;
}
.offcanvas_section .contact_info ul li {
  color: #111111;
  font-size: 1.125rem;
  line-height: 160%;
}
.offcanvas_section .contact_info ul li a {
  color: #111111;
}
.offcanvas_section .contact_info ul li + li {
  margin-top: 1.6875rem;
}
.offcanvas_section .social_info .title {
  font-size: 16px;
  color: #737177;
  margin-bottom: 20px;
}
.offcanvas_section .social_info ul li a {
  color: #111111;
}
.offcanvas_section .social_info ul li a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.offcanvas_section.show {
  left: 0;
}

.mobile-menu-area {
  z-index: 999;
  background-color: #ffffff;
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-top: 0;
}
.mobile-menu-area .mobile-topbar {
  width: 100%;
  background-color: #ffffff;
  padding: 16px 0;
}
.mobile-menu-area .mobile-topbar .bars {
  height: 40px;
  width: 40px;
  color: #111111;
  font-size: 18px;
  border-radius: 50% !important;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #111111;
}
.mobile-menu-area .mobile-topbar .bars:hover {
  background-color: var(--bs-secondary-color);
  border-color: var(--bs-secondary-color);
  color: #ffffff;
}
.mobile-menu-area .mobile-menu-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  visibility: hidden;
  opacity: 0;
}
.mobile-menu-area .mobile-menu-overlay.active {
  visibility: visible;
  opacity: 1;
}
.mobile-menu-area .mobile-menu-main {
  width: 320px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 999;
  overflow-y: scroll;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.mobile-menu-area .mobile-menu-main .logo {
  padding: 20px;
}
.mobile-menu-area .mobile-menu-main .form {
  padding: 0 20px;
  padding-bottom: 8px;
}
.mobile-menu-area .mobile-menu-main .form .input input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #c9c9c9;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 0 20px;
  background: #f5f5f5;
}
.mobile-menu-area .mobile-menu-main .form .input input:focus {
  border-color: #111111;
}
.mobile-menu-area .mobile-menu-main .form .input button {
  width: 55px;
  height: 55px;
}
.mobile-menu-area .mobile-menu-main .close-mobile-menu {
  position: absolute;
  top: 15px;
  right: 10px;
}
.mobile-menu-area .mobile-menu-main .close-mobile-menu i {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #111111;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border-radius: 4px;
}
.mobile-menu-area .mobile-menu-main .close-mobile-menu i:hover {
  background: #111111;
  color: #ffffff;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list {
  padding-top: 10px;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a {
  color: #111111;
  font-size: 15px;
  font-weight: 500;
  line-height: 78px;
  border-top: 1px solid #c9c9c9;
  text-transform: uppercase;
  width: 100%;
  padding: 0px 20px;
  line-height: 44px;
  padding-right: 10px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a:hover {
  color: #646464 !important;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a i {
  width: 32px;
  height: 32px;
  background-color: #f5f5f5;
  text-align: center;
  line-height: 32px;
  font-size: 12px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a:hover {
  color: #111111;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li a:hover i {
  background-color: #111111;
  color: #ffffff;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul {
  padding-left: 0;
  display: none;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul a {
  padding: 0px 20px;
  padding-left: 40px;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li ul li:last-child a {
  border-bottom: 0;
}
.mobile-menu-area .mobile-menu-main .menu-body .menu-list ul li:last-child a {
  border-bottom: 1px solid #c9c9c9;
}
.mobile-menu-area .mobile-menu-main.active {
  left: 0 !important;
}
.mobile-menu-area .mobile-menu-action-btn {
  padding: 20px;
}
.mobile-menu-area .mobile-menu-action-btn a {
  color: #ffffff;
  padding: 12px 0;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  width: 100%;
  text-align: center;
}
.mobile-menu-area .mobile-menu-action-btn a i {
  font-size: 14px;
  margin-left: 8px;
}
.mobile-menu-area .mobile-menu-action-btn a:hover {
  background-color: #111111;
}
.mobile-menu-area.style2 {
  background: transparent;
}
.mobile-menu-area.style2 .mobile-topbar {
  background: transparent;
  border: 2px solid #111111;
  border-radius: 80px;
  padding: 12px 30px;
  padding-right: 18px;
  position: relative;
  top: 20px;
}

.banner_section {
  background: #f5f5f5;
  padding: 40px 0;
}
.banner_section .single_blog_item .text {
  margin-right: 30px;
}
@media (max-width: 991.98px) {
  .banner_section .single_blog_item .text {
    margin-right: 0;
  }
}
.banner_section .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.banner_section .arrow:hover {
  background-color: #111111;
  color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.banner_section .left {
  left: -30px;
}
.banner_section .right {
  right: -30px;
}

.single_blog_item .img {
  margin-bottom: 15px;
}
.single_blog_item .img img {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_blog_item .img .more_info {
  bottom: 6px;
  right: 6px;
}
.single_blog_item .img .more_info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 8px;
  border-radius: 3px;
  position: relative;
}
.single_blog_item .img .more_info ul li {
  color: #111111;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  position: relative;
}
.single_blog_item .img .more_info ul li i {
  font-size: 12px;
  color: #111111;
  margin-right: 8px;
}
.single_blog_item .img .more_info ul li li::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 1px;
  height: 15px;
  background: #111111;
  content: "";
}
.single_blog_item .text {
  text-align: center;
}
.single_blog_item .text .blog_title {
  margin-top: 15px;
}
.single_blog_item .text .blog_title a {
  color: #111111;
  font-size: 22px;
  font-weight: 700;
}
.single_blog_item .text .blog_title a:hover {
  color: #737177;
}
.single_blog_item .text p {
  margin-top: 20px;
}
.single_blog_item:hover .img img {
  -webkit-transform: scale(1.1) rotate(2deg);
          transform: scale(1.1) rotate(2deg);
}
.single_blog_item.layout_2 .text .blog_title a {
  font-size: 30px;
}
@media (max-width: 575.98px) {
  .single_blog_item.layout_2 .text .blog_title a {
    font-size: 26px;
  }
}

.blog-meta ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  row-gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.blog-meta ul li {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a5a5a5;
}
.blog-meta ul li i {
  font-size: 12px;
  color: #646464;
  margin-right: 8px;
}
.blog-meta ul li a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #a5a5a5;
}
.blog-meta ul li a i {
  font-size: 12px;
  color: #646464;
  margin-right: 8px;
}
.blog-meta ul li a:hover {
  color: #646464;
}

.blog_title a {
  background-image: linear-gradient(transparent calc(100% - 1px), #646464);
  background-size: 0;
  background-repeat: no-repeat;
  display: inline;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.blog_title a:hover {
  background-size: 100%;
}

.blog_sidebar_area .blog_widget {
  margin-bottom: 40px;
}
.blog_sidebar_area .blog_widget .widget_title {
  font-size: 20px;
  font-weight: 500;
  color: #111111;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}
.blog_sidebar_area .blog_widget .widget_title::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #111111;
  content: "";
}
.blog_sidebar_area .blog_widget .categories ul li {
  padding-bottom: 20px;
}
.blog_sidebar_area .blog_widget .categories ul li a {
  color: #646464;
  font-size: 15px;
  font-weight: 500;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 20px;
}
.blog_sidebar_area .blog_widget .categories ul li a::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #111111;
  content: "";
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.blog_sidebar_area .blog_widget .categories ul li a:hover::before {
  width: 100%;
}
.blog_sidebar_area .blog_widget.newsletter {
  background: #F0F0F0;
  text-align: center;
  padding: 23px 30px;
}
.blog_sidebar_area .blog_widget.newsletter .title {
  font-size: 18px;
  font-weight: 700;
}
.blog_sidebar_area .blog_widget.newsletter p {
  font-size: 14px;
  margin: 5px 0 16px 0;
}
.blog_sidebar_area .blog_widget.newsletter .input_group {
  margin-bottom: 14px;
}
.blog_sidebar_area .blog_widget.newsletter .input_group input {
  width: 100%;
  height: 55px;
  background: #ffffff;
  padding: 0 20px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  text-align: center;
}
.blog_sidebar_area .blog_widget.newsletter .input_group input:focus {
  border-color: #111111;
}
.blog_sidebar_area .blog_widget.newsletter button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  background: #111111;
  color: #ffffff;
  letter-spacing: 2px;
  width: 100%;
  border: 0;
  padding: 16px;
}
.blog_sidebar_area .blog_widget.newsletter button:hover {
  background: #646464;
}

.sm_blog_post .blog_post_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
  margin-bottom: 15px;
}
.sm_blog_post .blog_post_item .img {
  width: 100px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
}
.sm_blog_post .blog_post_item .img img {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.sm_blog_post .blog_post_item .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.sm_blog_post .blog_post_item .text .title {
  font-weight: 500;
  font-size: 16px;
  color: #111111;
}
.sm_blog_post .blog_post_item .text span {
  color: #a5a5a5;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}
.sm_blog_post .blog_post_item .text span i {
  font-size: 12px;
  color: #646464;
  margin-right: 8px;
}
.sm_blog_post .blog_post_item:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blog_list_section .single_blog_item .img {
  margin-bottom: 0;
}

.pagination ul li a {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f2f2f2;
  color: #111111;
}
.pagination ul li a:hover {
  background: #111111;
  color: #ffffff;
}
.pagination ul li a.active {
  background: #111111;
  color: #ffffff;
}

.instagrame_feed_section .img {
  border-radius: 10px;
}
.instagrame_feed_section .img img {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.instagrame_feed_section .img:hover img {
  -webkit-transform: scale(1.1) rotate(3deg);
          transform: scale(1.1) rotate(3deg);
}
.instagrame_feed_section .hover_btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 198px;
}

.footer_section {
  background: #111111;
  padding: 60px 0 30px 0;
}
.footer_section .widget_title {
  font-size: 20px;
  font-weight: 500;
  color: #111111;
  margin-bottom: 30px;
  padding-bottom: 20px;
  position: relative;
}
.footer_section .widget_title::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #ffffff;
  content: "";
}
.footer_section .about_info ul li {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 160%;
}
.footer_section .about_info ul li a {
  color: #ffffff;
}
.footer_section .about_info ul li + li {
  margin-top: 2.6875rem;
}
.footer_section .about_info .footer-social-icon li {
  margin-right: 1.5rem;
}
.footer_section .about_info .footer-social-icon li a {
  color: #ffffff;
}
.footer_section .about_info .footer-social-icon li a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.footer_section .sm_blog_post .blog_post_item .img {
  width: 120px;
}
.footer_section .sm_blog_post .blog_post_item .text .title {
  color: #ffffff;
}
.footer_section .copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 30px;
  margin-top: 50px;
}

.newsletter_widget p {
  color: #ffffff;
  margin-bottom: 1.125rem;
  font-size: 0.9375rem;
}
.newsletter_widget .input-groups input {
  height: 4rem;
  background-color: #ffffff;
  padding: 0 1.4375rem;
  color: #111111;
}
.newsletter_widget .input-groups input::-webkit-input-placeholder {
  opacity: 1;
}
.newsletter_widget .input-groups input::-moz-placeholder {
  opacity: 1;
}
.newsletter_widget .input-groups input:-ms-input-placeholder {
  opacity: 1;
}
.newsletter_widget .input-groups input::-ms-input-placeholder {
  opacity: 1;
}
.newsletter_widget .input-groups input::placeholder {
  opacity: 1;
}
.newsletter_widget .input-groups button {
  width: 4.5rem;
  height: 4rem;
  background: #111111;
  font-size: 20px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

/* scroll to top button */
.scroll-to-top {
  background: #111111;
  width: 2.5rem;
  height: 2.5rem;
  color: #ffffff;
  border-radius: 0.3125rem;
  border: 0;
  bottom: -2.8125rem;
  right: 1.5rem;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.scroll-to-top::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: #111111;
  z-index: -1;
  border-radius: 0.3125rem;
  visibility: hidden;
  opacity: 0;
}
.scroll-to-top:hover::before {
  visibility: visible;
  opacity: 1;
}
.scroll-to-top:hover .icon {
  color: #ffffff;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  bottom: 1.5rem;
}

.breadcrumb_section {
  padding: 60px 0;
  background: #E5E5E5;
}
.breadcrumb_section .page_title {
  font-size: 34px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 20px;
}
.breadcrumb_section .bread_crumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.breadcrumb_section .bread_crumb li {
  position: relative;
  color: #111111;
  font-family: "Poppins", sans-serif;
}
.breadcrumb_section .bread_crumb li a {
  color: #111111;
}
.breadcrumb_section .bread_crumb li::before {
  content: "/";
  position: absolute;
  font-size: 14px;
  right: -22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #cccccc;
}
.breadcrumb_section .bread_crumb li:last-child::before {
  display: none;
}

.about_page_section .about_main .text .about_title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
.about_page_section .about_main .text .image {
  float: right;
  margin-left: 20px;
  margin-bottom: 15px;
  border: 1px solid #c9c9c9;
  padding: 16px;
  max-width: 480px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .about_page_section .about_main .text .image {
    float: unset;
    max-width: 100%;
    margin-left: 0;
  }
}
.about_page_section .about_main .text .image img {
  width: 100%;
  height: auto;
  display: block;
}
.about_page_section .about_main .text .details p + p {
  margin-top: 16px;
}
.about_page_section .about_main .text::after {
  content: "";
  display: table;
  clear: both;
}
.about_page_section .about_main .text .social_icon {
  margin-top: 24px;
}
.about_page_section .about_main .text .social_icon li {
  margin-right: 5px;
}
.about_page_section .about_main .text .social_icon li a {
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #f2f2f2;
  color: #111111;
}
.about_page_section .about_main .text .social_icon li a:hover {
  background: #111111;
  color: #ffffff;
}

.progress-wrap-layout1 {
  background-color: #f2f2f2;
  padding: 60px 0;
}

.progress-box-layout1 {
  text-align: center;
}

.progress-box-layout1 .item-icon {
  font-size: 60px;
  color: #444444;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .progress-box-layout1 .item-icon {
    height: 200px;
    width: 200px;
  }
}

.progress-box-layout1 .counter-text {
  font-size: 50px;
  color: #111111;
  font-weight: 700;
  margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  .progress-box-layout1 .counter-text {
    font-size: 42px;
  }
}
@media only screen and (max-width: 767px) {
  .progress-box-layout1 .counter-text {
    font-size: 36px;
  }
}
@media only screen and (max-width: 575px) {
  .progress-box-layout1 .counter-text {
    font-size: 32px;
  }
}
.progress-box-layout1 .item-title {
  font-size: 20px;
  color: #646464;
  font-weight: 300;
}

.newsletter-wrap-layout1 {
  padding: 4rem 0;
  padding-bottom: 0;
}

.newsletter-box-layout1 {
  text-align: center;
}

.newsletter-box-layout1 .item-title {
  font-size: 24px;
  font-weight: 700;
  color: #444444;
  margin-bottom: 16px;
}

@media only screen and (max-width: 991px) {
  .newsletter-box-layout1 .item-title {
    font-size: 22px;
  }
}
@media only screen and (max-width: 767px) {
  .newsletter-box-layout1 .item-title {
    font-size: 20px;
  }
}
.newsletter-box-layout1 .item-subtitle {
  font-size: 18px;
  margin-bottom: 36px;
}

.newsletter-box-layout1 .newsletter-subscribe-form .form-group .form-control {
  height: 55px;
  background-color: #f9f9f9;
  border: none;
  border-radius: 4px;
  padding: 5px 22px;
  font-size: 16px;
}

.newsletter-box-layout1 .newsletter-subscribe-form .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.newsletter-box-layout1 .newsletter-subscribe-form .form-group .item-btn {
  width: 100%;
  height: 55px;
  border-radius: 4px;
  background-color: #111111;
  color: #ffffff;
  font-weight: 500;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.newsletter-box-layout1 .newsletter-subscribe-form .form-group .item-btn:hover {
  background-color: #cccccc;
  color: #111111;
}

.newsletter-box-layout1 .newsletter-subscribe-form .form-group .item-btn:focus {
  outline: none;
}

.registration {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.registration .registration_main {
  border: 1px solid #c9c9c9;
  border-radius: 14px;
  overflow: hidden;
  background: #ffffff;
}
.registration .registration_main .top_header {
  background: #111111;
  padding: 30px;
}
.registration .registration_main .top_header .title {
  font-size: 36px;
  font-weight: 600;
}
.registration .registration_main .main_body {
  padding: 30px;
}
.registration .registration_main .main_body .form-group {
  margin-bottom: 10px;
}
.registration .registration_main .main_body .form-group .form-label {
  font-size: 13px;
  font-weight: 600;
}
.registration .registration_main .main_body .form-group .form-control {
  height: 45px;
  border: 1px solid #c9c9c9;
  font-size: 15px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.registration .registration_main .main_body .form-group .form-control:focus {
  border-color: #111111;
}
.registration .registration_main .main_body .form-group .textarea {
  min-height: 120px;
}
.registration .registration_main .main_body .form-group input[type=file] {
  line-height: 31px;
}
.registration .registration_main .main_body .btn-block {
  position: relative;
  color: #fff;
  background-color: #111111;
  border-color: #111111;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  font-size: 14px;
  padding: 10px 20px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 9;
}
.registration .registration_main .main_body .btn-block::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -1px;
  bottom: -1px;
  z-index: -1;
  width: 50%;
  background: inherit;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  border-radius: inherit;
  -webkit-transition: inherit;
  transition: inherit;
  pointer-events: none;
}
.registration .registration_main .main_body .btn-block:hover {
  background: transparent;
  border-color: transparent;
}
.registration .registration_main .main_body .btn-block:hover::before {
  width: 100%;
  background-color: #111111;
  opacity: 1;
}

.author_section .author_item .img img {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.author_section .author_item .img .review {
  bottom: 6px;
  right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px 8px;
  border-radius: 3px;
  gap: 3px;
}
.author_section .author_item .img .review i {
  color: #111111;
  font-size: 12px;
}
.author_section .author_item .text .name {
  color: #111111;
}
.author_section .author_item:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.author_details .author_info {
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
          box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
}
.author_details .author_info .image {
  width: 150px;
  height: 150px;
}
.author_details .author_info .text .title {
  font-size: 30px;
  font-weight: 600;
}
.author_details .author_info .text p {
  margin: 20px 0 10px 0;
}
.author_details .author_info .text .counter_item {
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  padding: 15px 20px;
  text-align: center;
}
.author_details .author_info .text .counter_item h2 {
  margin-bottom: 4px;
}
.author_details .author_info .text .social_icon ul li {
  display: inline-block;
  margin-right: 14px;
}
.author_details .author_info .text .social_icon ul li a {
  width: 25;
  height: 25px;
  color: #737177;
}
.author_details .author_info .text .social_icon ul li a:hover {
  color: #111111;
}
.author_details .author_article {
  margin-top: 60px;
}
.author_details .author_article .title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}
.author_details .author_article_box .item {
  margin-bottom: 20px;
}
.author_details .author_article_box .item:last-child {
  margin-bottom: 0;
}
.author_details .author_article_box .item:hover .article_img img {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}
.author_details .author_article_box .article_img img {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.author_details .author_article_box .article_text {
  padding: 20px;
  border: 1px solid #c9c9c9;
  height: 100%;
}
.author_details .author_article_box .article_text .title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 25px;
  color: #111111;
}
.author_details .author_article_box .article_text p {
  margin-bottom: 15px;
}
.author_details .author_article_box .article_text .date {
  color: #737177;
  font-weight: 500;
}

.archive_section .archive_item {
  text-align: center;
  border: 1px solid #c9c9c9;
  padding: 30px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.archive_section .archive_item:hover {
  border-color: #111111;
}
.archive_section .archive_item .number {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #111111;
}
.archive_section .archive_item .date {
  font-size: 16px;
  font-weight: 500;
  color: #646464;
}

.blog_details_section .blog_single_details .main_title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.blog_details_section .blog_single_details .social_info .item-social {
  margin-bottom: 14px;
}
.blog_details_section .blog_single_details .social_info .item-social li {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 10px;
}
.blog_details_section .blog_single_details .social_info .item-social li:last-child {
  margin-right: 0;
}
.blog_details_section .blog_single_details .social_info .item-social li a {
  display: block;
  border-radius: 4px;
  color: #ffffff;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.blog_details_section .blog_single_details .social_info .item-social li a i {
  font-size: 14px;
  margin-right: 10px;
}
.blog_details_section .blog_single_details .social_info .item-social li a:hover {
  background-color: #000000;
  color: #ffffff;
}
.blog_details_section .blog_single_details .social_info .item-social li .facebook {
  background-color: #3b5997;
}
.blog_details_section .blog_single_details .social_info .item-social li .twitter {
  background-color: #56acec;
}
.blog_details_section .blog_single_details .social_info .item-social li .g-plus {
  background-color: #dc4a39;
}
.blog_details_section .blog_single_details .social_info .item-social li .pinterst {
  background-color: #c80909;
}
.blog_details_section .blog_single_details .social_info .item-social li .load-more {
  background-color: #ffffff;
  color: #000000;
}
.blog_details_section .blog_single_details .content hr {
  margin: 20px 0;
  border: 1px solid #c9c9c9;
}
.blog_details_section .blog_single_details .content p + p {
  margin-top: 20px;
}
.blog_details_section .blog_single_details .content blockquote {
  position: relative;
  font-size: 24px;
  font-weight: 600;
  color: #444444;
  font-style: italic;
  text-align: center;
  line-height: 1.5;
  z-index: 9;
  padding: 40px 40px 15px;
}
@media (max-width: 575px) {
  .blog_details_section .blog_single_details .content blockquote {
    padding: 20px 0 30px;
    font-size: 20px;
  }
}
.blog_details_section .blog_single_details .content blockquote::after {
  background: url("../images/quote2.png");
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  width: 82px;
  height: 63px;
  content: "";
}
.blog_details_section .blog_single_details .content blockquote .qoute-subtitle {
  text-align: center;
  display: block;
  font-size: 14px;
  color: #646464;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
  margin-top: 22px;
}
.blog_details_section .blog_single_details .content h1,
.blog_details_section .blog_single_details .content h2,
.blog_details_section .blog_single_details .content h3,
.blog_details_section .blog_single_details .content h4,
.blog_details_section .blog_single_details .content h5,
.blog_details_section .blog_single_details .content h6 {
  font-weight: 600;
  margin: 24px 0;
}
.blog_details_section .blog_single_details .content ul {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding: 30px 0;
}
.blog_details_section .blog_single_details .content ul li {
  margin-bottom: 26px;
  padding-left: 38px;
  counter-increment: my-awesome-counter;
  position: relative;
  font-weight: 500;
  line-height: 160%;
}
@media only screen and (max-width: 575px) {
  .blog_details_section .blog_single_details .content ul li {
    font-size: 16px;
  }
}
.blog_details_section .blog_single_details .content ul li:last-child {
  margin-bottom: 0;
}
.blog_details_section .blog_single_details .content ul li:before {
  content: counter(my-awesome-counter);
  color: #ffffff;
  position: absolute;
  top: 3px;
  left: 0;
  background-color: #111111;
  height: 24px;
  width: 24px;
  line-height: 24px;
  border-radius: 50%;
  text-align: center;
}
.blog_details_section .blog_single_details .blog-author {
  border-radius: 4px;
}
@media only screen and (max-width: 575px) {
  .blog_details_section .blog_single_details .blog-author {
    text-align: center;
  }
}
.blog_details_section .blog_single_details .blog-author .media img {
  border-radius: 50%;
}
.blog_details_section .blog_single_details .blog-author .media .media-body {
  position: relative;
}
.blog_details_section .blog_single_details .blog-author .media .media-body .item-title {
  font-size: 20px;
  color: #111111;
  font-weight: 600;
  margin-bottom: 0;
}
.blog_details_section .blog_single_details .blog-author .media .media-body .item-subtitle {
  color: #a5a5a5;
  margin-bottom: 10px;
}
.blog_details_section .blog_single_details .blog-author .media .media-body .item-social {
  position: absolute;
  top: 2px;
  right: 0;
}
@media only screen and (max-width: 767px) {
  .blog_details_section .blog_single_details .blog-author .media .media-body .item-social {
    position: relative;
    top: 0;
  }
}
.blog_details_section .blog_single_details .blog-author .media .media-body .item-social li {
  display: inline-block;
  margin-right: 16px;
}
.blog_details_section .blog_single_details .blog-author .media .media-body .item-social li:last-child {
  margin-right: 0;
}
.blog_details_section .blog_single_details .blog-author .media .media-body .item-social li a {
  color: #a5a5a5;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.blog_details_section .blog_single_details .blog-author .media .media-body .item-social li a:hover {
  color: #111111;
}
.blog_details_section .blog_widget.newsletter {
  background: #222222;
}
.blog_details_section .blog_widget.newsletter .title {
  color: #ffffff;
  font-size: 20px;
}
.blog_details_section .blog_widget.newsletter p {
  color: #969696;
  text-transform: uppercase;
}
.blog_details_section .blog_widget.newsletter .input_group input {
  background: #585858;
  color: #ffffff;
}
.blog_details_section .blog_widget.newsletter .input_group input::-webkit-input-placeholder {
  color: #ffffff;
}
.blog_details_section .blog_widget.newsletter .input_group input::-moz-placeholder {
  color: #ffffff;
}
.blog_details_section .blog_widget.newsletter .input_group input:-ms-input-placeholder {
  color: #ffffff;
}
.blog_details_section .blog_widget.newsletter .input_group input::-ms-input-placeholder {
  color: #ffffff;
}
.blog_details_section .blog_widget.newsletter .input_group input::placeholder {
  color: #ffffff;
}
.blog_details_section .blog_widget.newsletter button {
  background: #ffffff;
  color: #111111;
}
.blog_details_section .blog_widget.newsletter button:hover {
  background: #111111;
  color: #ffffff;
}
.blog_details_section .single_blog_item + .single_blog_item {
  margin-top: 24px;
}
.blog_details_section .single_blog_item .text .blog_title a {
  font-size: 18px;
  font-weight: 500;
}
.blog_details_section .also_like_blog .main_title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  position: relative;
}
.blog_details_section .also_like_blog .main_title::after {
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 50px;
  height: 2px;
  background: #111111;
  content: "";
}
.blog_details_section .also_like_blog .single_blog_item {
  margin: 0 12px;
}
.blog_details_section .also_like_blog .single_blog_item .text .blog_title a {
  font-size: 16px;
  font-weight: 600;
}
.blog_details_section .also_like_blog .slick-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 30px;
}
.blog_details_section .also_like_blog .slick-dots li button {
  font-size: 0;
  height: 14px;
  width: 14px;
  padding: 0;
  margin: 0 3px;
  background-color: #e3e3e3;
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.blog_details_section .also_like_blog .slick-dots li.slick-active button {
  background-color: #111111;
}
.blog_details_section .blog-comment {
  background-color: #f8f8f8;
  padding: 30px;
}
.blog_details_section .comment_heading {
  margin-bottom: 40px;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 20px;
  position: relative;
  font-size: 22px;
}
.blog_details_section .comment_heading::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 2px;
  background: #111111;
  content: "";
}
@media only screen and (max-width: 575px) {
  .blog_details_section .blog-comment {
    padding: 20px;
  }
}
.blog_details_section .blog-comment .media {
  margin-bottom: 3px;
  background-color: #ffffff;
  padding: 30px 35px 24px;
}
@media (max-width: 767px) {
  .blog_details_section .blog-comment .media {
    padding: 30px;
  }
}
@media only screen and (max-width: 575px) {
  .blog_details_section .blog-comment .media {
    text-align: center;
    padding: 30px 20px 24px;
  }
}
.blog_details_section .blog-comment .media:last-child {
  margin-bottom: 0;
}
.blog_details_section .blog-comment .media img {
  border-radius: 50%;
}
.blog_details_section .blog-comment .media .media-body {
  position: relative;
}
.blog_details_section .blog-comment .media .media-body .item-title {
  color: #111111;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2px;
}
.blog_details_section .blog-comment .media .media-body .item-subtitle {
  font-size: 14px;
  color: #a5a5a5;
  display: block;
  font-weight: 400;
  margin-bottom: 8px;
}
.blog_details_section .blog-comment .media .media-body .item-btn {
  display: inline-block;
  font-size: 12px;
  background-color: #f8f8f8;
  border-radius: 20px;
  color: #646464;
  font-weight: 500;
  padding: 5px 20px;
  position: absolute;
  top: -11px;
  right: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .blog_details_section .blog-comment .media .media-body .item-btn {
    position: inherit;
    margin-top: 20px;
  }
}
.blog_details_section .blog-comment .media .media-body .item-btn:hover {
  background-color: #111111;
  color: #ffffff;
}
.blog_details_section .custom_blog_comment li {
  margin-bottom: 20px;
}
.blog_details_section .custom_blog_comment li .child {
  margin-left: 30px;
  margin-top: 20px;
}
.blog_details_section .custom_blog_comment li .child li {
  margin-bottom: 20px;
}

.blog_comment_box .input-group textarea {
  border: 1px solid #c9c9c9;
  border-radius: 5px !important;
  height: 180px;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
}
.blog_comment_box .input-group textarea:focus {
  border-color: #111111;
}
.blog_comment_box .input-group button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  background: #111111;
  color: #ffffff;
  letter-spacing: 2px;
  border: 0;
  padding: 16px 40px;
  border-radius: 5px !important;
  margin-top: 20px;
}
.blog_comment_box .input-group button:hover {
  background: #646464;
  color: #ffffff;
}

.dashboard {
  margin-top: 60px;
  margin-bottom: 60px;
}

.dashboard .left-sidebar {
  background-color: #f2f2f2;
}

.dashboard .left-sidebar .image-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  z-index: 99;
}

.dashboard .left-sidebar .image {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px;
  border: 6px solid #fff;
  position: relative;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.dashboard .left-sidebar .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.dashboard .left-sidebar .image .upload {
  position: absolute;
  bottom: -6px;
  right: -6px;
}

.dashboard .left-sidebar .image .upload i {
  width: 35px;
  height: 35px;
  background-color: #111111;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  cursor: pointer;
  font-size: 14px;
}

.dashboard .left-sidebar .text h3 {
  font-size: 20px;
  font-weight: 600;
}

.dashboard .left-sidebar .dash-menu ul li:nth-child(odd) {
  background-color: #ffffff;
}

.dashboard .left-sidebar .dash-menu ul li:nth-child(even) {
  background-color: #ffffff;
}

.dashboard .left-sidebar .dash-menu ul li a {
  position: relative;
  font-size: 16px;
  color: #111111;
  padding: 12px 20px;
  width: 100%;
  display: block;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  border-left: 3px solid transparent;
}

.dashboard .left-sidebar .dash-menu ul li a i {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 18px;
}

.dashboard .left-sidebar .dash-menu ul li a:hover {
  border-color: #111111;
  color: #ffffff;
  background: #111111;
}

.dashboard .left-sidebar .dash-menu ul li a.active {
  border-color: #111111;
  color: #ffffff;
  background: #111111;
}

.dashboard .right-sidebar {
  background-color: #ffffff;
  padding: 30px;
  background: #f5f5f5;
}

.dashboard .right-sidebar .info-bloc-main h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}

.dashboard .right-sidebar .info-bloc-main thead {
  background-color: #111111;
  color: #ffffff;
}

.dashboard .right-sidebar .info-bloc-main tbody .file {
  color: #111111;
  font-size: 30px;
}

.dashboard .right-sidebar .info-bloc-main .info-block {
  margin-bottom: 24px;
}

.dashboard .right-sidebar .info-bloc-main .info-block:last-child {
  margin-bottom: 0;
}

.dashboard .right-sidebar .info-bloc-main .info-block .shortcut-item {
  width: 100%;
  border-radius: 5px;
  background-color: #111111;
  text-align: center;
  padding: 30px 0;
}

.dashboard .right-sidebar .info-bloc-main .info-block .shortcut-item.item-2 {
  background-color: #1CAF9A;
}

.dashboard .right-sidebar .info-bloc-main .info-block .shortcut-item.item-3 {
  background-color: #1D2939;
}

.dashboard .right-sidebar .info-bloc-main .info-block .shortcut-item a {
  background-color: #ffffff;
  padding: 10px 24px;
  color: #111111;
  border-radius: 4px;
  font-weight: 500;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
}

.dashboard .right-sidebar .info-bloc-main .info-block .shortcut-item a:hover {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
}

.dashboard .paper-submission .form-label {
  font-size: 15px;
  color: #111111;
}

.dashboard .paper-submission .form-select {
  font-size: 15px;
}

.dashboard .paper-submission .form-control {
  font-size: 15px;
}

.dashboard .paper-submission .form-control::-webkit-input-placeholder {
  font-size: 15px;
}

.dashboard .paper-submission .form-control::-moz-placeholder {
  font-size: 15px;
}

.dashboard .paper-submission .form-control:-ms-input-placeholder {
  font-size: 15px;
}

.dashboard .paper-submission .form-control::-ms-input-placeholder {
  font-size: 15px;
}

.dashboard .paper-submission .form-control::placeholder {
  font-size: 15px;
}

.edit-profile .input-groups {
  margin-bottom: 16px;
}
.edit-profile .input-groups label {
  margin-bottom: 5px;
}
.edit-profile .input-groups input {
  height: 42px;
  border: 1px solid #a3a3a3;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 20px;
  width: 100%;
}
.edit-profile .input-groups input:focus {
  border-color: #111111;
}
.edit-profile .button-groups button {
  background-color: #111111;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  padding: 12px 24px;
  border-radius: 3px;
  border: 0;
}