$white: #ffffff;
$black: #111111;
$primary: #111111;
$paragraph: #737177;
$color2:#a5a5a5;
$color3: #646464;
$transition: all 0.3s ease-out 0s;
$shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
$border: #c9c9c9;
$poppins: "Poppins",
sans-serif;