.blog_details_section {
  .blog_single_details {
    .main_title {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .social_info {
      .item-social {
        margin-bottom: 14px;
      }

      .item-social li {
        display: inline-block;
        margin-right: 6px;
        margin-bottom: 10px;
      }

      .item-social li:last-child {
        margin-right: 0;
      }

      .item-social li a {
        display: block;
        border-radius: 4px;
        color: #ffffff;
        padding: 2px 10px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -ms-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      .item-social li a i {
        font-size: 14px;
        margin-right: 10px;
      }

      .item-social li a:hover {
        background-color: #000000;
        color: #ffffff;
      }

      .item-social li .facebook {
        background-color: #3b5997;
      }

      .item-social li .twitter {
        background-color: #56acec;
      }

      .item-social li .g-plus {
        background-color: #dc4a39;
      }

      .item-social li .pinterst {
        background-color: #c80909;
      }

      .item-social li .load-more {
        background-color: #ffffff;
        color: #000000;
      }
    }

    .content {
      hr {
        margin: 20px 0;
        border: 1px solid $border;
      }

      p+p {
        margin-top: 20px;
      }

      blockquote {
        position: relative;
        font-size: 24px;
        font-weight: 600;
        color: #444444;
        font-style: italic;
        text-align: center;
        line-height: 1.5;
        z-index: 9;
        padding: 40px 40px 15px;
      }

      @media (max-width: 575px) {
        blockquote {
          padding: 20px 0 30px;
          font-size: 20px;
        }
      }

      blockquote::after {
        background: url('../images/quote2.png');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        width: 82px;
        height: 63px;
        content: "";
      }

      blockquote .qoute-subtitle {
        text-align: center;
        display: block;
        font-size: 14px;
        color: #646464;
        letter-spacing: 1px;
        font-weight: 400;
        font-style: normal;
        margin-top: 22px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-weight: 600;
        margin: 24px 0;
      }

      ul {
        counter-reset: my-awesome-counter;
        list-style: none;
        padding: 30px 0;
      }

      @media only screen and (max-width: 575px) {
        ul {
          padding: 0;
        }
      }

      ul li {
        margin-bottom: 26px;
        padding-left: 38px;
        counter-increment: my-awesome-counter;
        position: relative;
        font-weight: 500;
        line-height: 160%;
      }

      @media only screen and (max-width: 575px) {
        ul li {
          font-size: 16px;
        }
      }

      ul li:last-child {
        margin-bottom: 0;
      }

      ul li:before {
        content: counter(my-awesome-counter);
        color: #ffffff;
        position: absolute;
        top: 3px;
        left: 0;
        background-color: #111111;
        height: 24px;
        width: 24px;
        line-height: 24px;
        border-radius: 50%;
        text-align: center;
      }
    }

    .blog-author {
      border-radius: 4px;
    }

    @media only screen and (max-width: 575px) {
      .blog-author {
        text-align: center;
      }
    }

    .blog-author .media img {
      border-radius: 50%;
    }

    .blog-author .media .media-body {
      position: relative;
    }

    .blog-author .media .media-body .item-title {
      font-size: 20px;
      color: #111111;
      font-weight: 600;
      margin-bottom: 0;
    }

    .blog-author .media .media-body .item-subtitle {
      color: #a5a5a5;
      margin-bottom: 10px;
    }

    .blog-author .media .media-body .item-social {
      position: absolute;
      top: 2px;
      right: 0;
    }

    @media only screen and (max-width: 767px) {
      .blog-author .media .media-body .item-social {
        position: relative;
        top: 0;
      }
    }

    .blog-author .media .media-body .item-social li {
      display: inline-block;
      margin-right: 16px;
    }

    .blog-author .media .media-body .item-social li:last-child {
      margin-right: 0;
    }

    .blog-author .media .media-body .item-social li a {
      color: #a5a5a5;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }

    .blog-author .media .media-body .item-social li a:hover {
      color: #111111;
    }
  }

  .blog_widget {
    &.newsletter {
      background: #222222;

      .title {
        color: $white;
        font-size: 20px;
      }

      p {
        color: #969696;
        text-transform: uppercase;
      }

      .input_group input {
        background: #585858;
        color: $white;

        &::placeholder {
          color: $white;
        }
      }

      button {
        background: $white;
        color: $black;

        &:hover {
          background: $black;
          color: $white;
        }
      }
    }
  }

  .single_blog_item+.single_blog_item {
    margin-top: 24px;
  }

  .single_blog_item .text .blog_title a {
    font-size: 18px;
    font-weight: 500;
  }

  .also_like_blog {
    .main_title {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 30px;
      position: relative;

      &::after {
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 50px;
        height: 2px;
        background: $black;
        content: "";
      }
    }

    .single_blog_item {
      margin: 0 12px;
    }

    .single_blog_item .text .blog_title a {
      font-size: 16px;
      font-weight: 600;
    }

    .slick-dots {
      list-style: none;
      display: flex;
      justify-content: center;
      padding-top: 30px;

      li {
        button {
          font-size: 0;
          height: 14px;
          width: 14px;
          padding: 0;
          margin: 0 3px;
          background-color: #e3e3e3;
          border: none;
          border-radius: 50%;
          transition: $transition;
        }

        &.slick-active button {
          background-color: $black;
        }
      }
    }
  }

  .blog-comment {
    background-color: #f8f8f8;
    padding: 30px;
    .comment_heading{
      margin-bottom: 40px;
      border-bottom: 1px solid #cccccc;
      padding-bottom: 20px;
      position: relative;
      &::before{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 2px;
        background: #111111;
        content: "";
      }
    }
  }

  @media only screen and (max-width: 575px) {
    .blog-comment {
      padding: 20px;
    }
  }

  .blog-comment .media {
    margin-bottom: 3px;
    background-color: #ffffff;
    padding: 30px 35px 24px;
  }

  @media only screen and (max-width: 575px) {
    .blog-comment .media {
      text-align: center;
      padding: 30px 20px 24px;
    }
  }

  .blog-comment .media:last-child {
    margin-bottom: 0;
  }

  .blog-comment .media img {
    border-radius: 50%;
  }

  .blog-comment .media .media-body {
    position: relative;
  }

  .blog-comment .media .media-body .item-title {
    color: #111111;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 2px;
  }

  .blog-comment .media .media-body .item-subtitle {
    font-size: 14px;
    color: #a5a5a5;
    display: block;
    font-weight: 400;
    margin-bottom: 8px;
  }

  .blog-comment .media .media-body .item-btn {
    display: inline-block;
    font-size: 12px;
    background-color: #f8f8f8;
    border-radius: 20px;
    color: #646464;
    font-weight: 500;
    padding: 5px 20px;
    position: absolute;
    top: -11px;
    right: 0;
    transition: 0.3s ease-in-out;
  }

  @media only screen and (max-width: 767px) {
    .blog-comment .media .media-body .item-btn {
      position: inherit;
      margin-top: 10px;
    }
  }

  .blog-comment .media .media-body .item-btn:hover {
    background-color: #111111;
    color: #ffffff;
  }

  .custom_blog_comment{
    li{
      margin-bottom: 20px;
      .child{
        margin-left: 30px;
        margin-top: 20px;
        li{
          margin-bottom: 20px;
        }
      }
    }
  }
}